.blog {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    width: 1200px;
    padding: 76px 370px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.blogTitle h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 400;
}

.blogCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 42px;
}

.video {
    width: 380px;
    height: auto;
}


@media screen and (max-width: 1250px) {
    .container{
        width: 100%;
    }

    .blogCard {
        flex-wrap: wrap-reverse;
        /* flex-direction: column; */
        width: 100%;
    }

    .video {
        width: 380px;
    }

}


@media screen and (max-width: 420px) {
    .container{
        width: 100%;
    }

    .blogCard {
        padding: 0px 10px;
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .video {
        width: 100%;
    }

}