.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1180px;
  gap: 2rem;
}
