.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.content > h1 {
  color: #454545;
  text-align: right;
  font-family: Futura PT;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.content > p {
  text-align: center;
  margin-bottom: 2rem;
  color: #787878;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(156deg, #46247c 0%, #a66fff 0%, #46247c 55.21%);
  filter: drop-shadow(0px 4px 4px #1e1132);
  border-radius: 100px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 17px 0px rgba(202, 202, 202, 0.25);
  border-radius: 20px;
  padding: 2rem;
}

.selection > .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.selection h3 {
  color: #454545;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-bottom: 20px;
}

.checks {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 350px;
  box-shadow: 0px 1px 17px 0px rgba(87, 87, 87, 0.14);
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.boxShadow {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 1px 17px 0px rgba(68, 33, 123, 0.73) !important;
}

.checkbox > p {
  color: #787878;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.checkbox > input[type="checkbox"] {
  border-radius: 5px;
  width: 21px;
  height: 21px;
  background: #f2f2f2;
  border: none;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}


.images img {
  width: 380px;
}

.selection button {
  margin-top: 2rem;
  background: linear-gradient(0deg, #44217b 0%, rgb(144, 29, 197) 100%);
  box-shadow: 0px 4px 4px 0px #1e1035;
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  padding: 17px 60px;
  border-radius: 10px;
  line-height: normal;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.sectS {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: fit-content;
}

.sect {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sect > h4 {
  color: #454545;
  font-size: 19px;
  font-style: normal;
  font-weight: 450;
  text-align: center;
  line-height: normal;
}

.sect:last-child {
  margin-top: 3rem;
}

.selectImageOfLivingRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selectImage, .selectImageS {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 69px;
  border-radius: 20px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 1px 17px 0px rgba(87, 87, 87, 0.14);
  transition: 0.5s ease-in-out;
}

.selectImage:hover, .selectImageS {
  transition: 0.5s ease-in-out;
  box-shadow: 0px 1px 17px 0px #44217B;
}

.val {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 35px;
}

.selectImage > p, .selectImageS > p {
  color: #454545;
  font-size: 35px !important;
}


@media screen and (max-width: 930px) {
  .content h1 {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 800px) {
  .images {
    display: block;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .images img {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 815px) {
  .content h1 {
    font-size: 30px !important;
  }

  .checks {
    display: block;
  }

  .checkbox {
    width: 380px;
    margin: 0 auto;

  }

  .checkbox:nth-child(2) {
    margin-top: 50px;
  }

  .multiRange {
    width: 100%;
  }

  .sect img {
    width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 670px) {
  .content h1 {
    font-size: 25px !important;
  }

  .checkbox:nth-child(2) {
    margin-top: 50px;
  }

  .circle {
    width: 60px;
    height: 60px;
    font-size: 25px;
  }

  .line {
    width: 60px;
  }
}

@media screen and (max-width: 550px) {
  .content h1 {
    font-size: 16px !important;
  }

  .checkbox:nth-child(2) {
    margin-top: 50px;
  }

  .circle {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .line {
    width: 30px;
  }

  .selection {
    padding: 0;
  }
}

@media screen and (max-width: 490px) {
  .selectImage, .selectImageS {
    width: 60px;
    height: 60px;
  }

  .selection button {
    padding: 15px 50px;
  }
}

@media screen and (max-width: 460px) {

  .checkbox:nth-child(2) {
    margin-top: 50px;
  }

  .checkbox {
    width: 100%;
  }

  .images img {
    width: 100% !important;
  }

}


@media screen and (max-width: 418px) {
  .selectImage, .selectImageS {
    width: 48px;
    height: 46px;
    font-size: 15px !important;
  }

  .selection h3 {
    font-size: 25px;
  }

  
  .checks img {
    width: 100% !important;
    height: auto;
  }
  

  .selection button {
    padding: 10px 35px;
    font-size: 20px;
  }

  .circle {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}
